<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="../../../public/assets/css/stylee.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="header">
                <div class="list-item">
                    <a href="">
                        <img src="../../../public/assets/image/Profile.svg" alt="" class="icon">
                        <span class="description-header">Naufal Nabbih A</span>
                    </a>
                </div>
                <div class="unitomo">
                    <img src="../../../public/assets/image/unitomo.png" alt="">
                </div>
            </div>
            <div class="main">
                <div class="list-item">
                    <a href="#">
                        <img src="" alt="">
                        <span class="description"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">

        </div>
    </div>
    <script src="../../../public/assets/js/script.js"></script>
</body>

</html>